<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kttddnsapi.dao.DdnslogDao">

	<insert id="insertDdnslog" parameterType="map">
		INSERT INTO ddnslog (mac, message) VALUES (#{mac}, #{message})
	</insert>

	<insert id="insertDdnslogPhone" parameterType="map">
		INSERT INTO ddnslog (mac, phone, service_no, message) VALUES (#{mac}, #{phone}, #{service_no}, #{message})
	</insert>


	<insert id="insertDdnslogOtpType" parameterType="map">
		INSERT INTO ddnslog (mac, phone, service_no, otp_batch_all, message) VALUES (#{mac}, #{phone}, #{service_no}, #{otp_batch_all}, #{message})
	</insert>

</mapper>

